@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;200;700&display=swap");

*{
  margin:0;
  padding:0;
}
body{
  background-image: url(https://retr0cube.github.io/neptune_api/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.mid {
  height: 90vh;
  padding-inline: 1vw;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(49, 109, 202, 1) 100%);
}
header{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1117;
  height: 8vh;
  padding-inline: 1vw;
}

.logo{
  background-image: url(logo.png);
  background-size:cover;
  width: 4.5vh;
  height: 4.5vh;
}
.right{
  display: flex;
  align-items: center;
}
.b2{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin-right: 50px;
  transition: color 0.3s ease 0s;
}

.b2:hover{
  color: #316dca;
}

.b1{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #316DCA;
  font-family: 'Poppins', sans-serif;
  padding: 7px 37px;
  border-radius: 50px;
  transition: color 1s ease 0s;
}

.b1:hover {
    background-color: white;
    color: #316dca;
}
.bt {
  color: #fff;
  padding-top: 200px;
  font-size: 90px;
  font-family: 'Poppins', sans-serif;
}
.st{
  color: #daeaf0;
  font-weight: 600;
  font-size: 23px;
  padding-left: 20px;
  font-family: Segoe UI,sans-serif,Segoe UI Emoji;

}
