@font-face {
  font-family: "nepPoppins";
  src: url("Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "nepMonts";
  src: url("Montserrat-Regular.ttf");
}

*{
  margin:0;
  padding:0;
}
body{
  background-image: url(https://retr0cube.github.io/neptune_api/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.mid-top {
  height: 90vh;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #0D1117 100%);
}
.mid-medium {
  height: 90vh;
  padding-top: 5vw;
  padding-right: 10vh;
  padding-left: 10vh;
  background: linear-gradient(to top, rgba(69,0,245,1) 0%, rgba(4,115,255,1) 100%);
}
.mid-bottom {
  height: 46vh;
  background: linear-gradient(to bottom, rgba(69,0,245,1) 0%, rgba(13,17,23,1) 100%);
}
header{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D1117;
  padding-right: 1.8vh;
  padding-left: 1.8vh;
  height: 8vh;
}

.logo{
  background-image: url(neptunelogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 37px;
  width: 15vh;
  height: 15vh;
}
.right{
  display: flex;
  align-items: center;
}
.b2{
  text-decoration: none;
  padding: 7px 37px;
  cursor: pointer;
  color: #fff;
  font-family: "nepPoppins", sans-serif !important;
  transition: color 0.3s ease 0s;
}
.b2:hover{
  color: #316dca;
}

.b1{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(38deg, rgba(69,0,245,1) 0%, rgba(4,115,255,1) 100%);
  font-family: "nepPoppins", sans-serif !important;
  padding: 7px 37px;
  border-radius: 50px;
  transition: color 0.9s ease 0s;
}

.b1:hover {
  background: white;
  color: #316dca;
}
.bt {
  color: #fff;
  padding-left: 17.5px;
  padding-top: 200px;
  font-size: 90px;
  font-family: "nepPoppins", sans-serif !important;
}
.shields {
  padding-left: 20.3px;
}
.st{
  color: #daeaf0;
  font-weight: 400;
  font-size: 23px;
  padding-top: 8px;
  padding-left: 20px;
  font-family: "nepMonts",sans-serif,Segoe UI Emoji;
}

.intro {
  border-radius: 25px;
  padding-top: 1vh;
  padding-left: 7vh;
  padding-right: 7vh;
  color: #fff;
  background-color: #0D1117;
}
.intro-title {
  font-size: 35px;
  padding-top: 1vh;
  text-align: center;
  font-family: 'nepPoppins', sans-serif,Segoe UI Emoji !important;
}
.intro-desc {
  text-indent: 30px;
  font-weight: 400;
  font-size: 20px;
  padding-top: 2.5vh;
  padding-bottom: 5vh;
  font-family: "nepMonts",sans-serif,Segoe UI Emoji;
}
.cd-exam {
  max-width: 100%;
}
.mbretcy {
  display: block;
  margin-left: auto;
  padding-top: 32vh;
  margin-right: auto;
  width: 10%;
}
